.main-body{

display: flex;
flex-direction: column;




}


body{

display: flex;
flex-direction: column;
margin:0px;


/*align-items: center;*/
/*height: 100vh;
;
width: 50vw;*/


}


.header{

display: flex;
gap: 15px;
height: 12.5vh;
background-color: #1f2937;
color: white;
width: 100vw;
justify-content:space-around;



}





.logo{

display: flex;
font-size: 24px;
font-weight: bold;
padding-right: 5vw;
  

}


.link-group{

display:flex;
gap:15px;

   
    
    
}


.sub-header{

display:flex;
background-color: #1f2937;
color: white;
width: 100vw;
justify-content:space-around;
gap: 15px;
height:30vh;


}



.Sub-Text{
display: flex;    
flex-direction: column;
margin-left:18vw;

}


.Sub-Text-Header{

color: #f9faf8;
font-size: 48px;
font-weight:bolder;
padding-right: 10vw;
margin-bottom: 1vh;

}


.Sub-Text-Body{

padding-right: 1vw;
margin-bottom: 5vh;

}    


.image{

color: black;
background-color: white;
height: 20vh;
width: 45vw;
margin-right:18vw;


}

.random-info{

padding:25px 0px ; 

}

.random-info-header{

 display: flex;
 margin-top:3vh;
 margin-bottom:3vh;
 justify-content: center;
 color: #1f2937;
font-size: 36px;
font-weight: bolder;

}

.img-text-main-Group{

display:flex;
gap:35px;
background-color:white;
color:black;
width: 100vw;
justify-content: center;
height:22.5vh;


}


.img-text-pair{
display: flex;   
flex-direction: column; 
max-width:10vw;
text-align: center;




}

.text{

display: flex; 
align-content: center; 
 



}


.img{

border-style: solid;
border-width:0.25vw ;
border-color: #3882f6; 
border-radius: 5%;
height:15vh;
width:10vw;

}




.Quote{

display: flex;
flex-direction: column;
background-color:#e5e7eb;
color:black;
width: 100vw;
align-items: center;
height:22.5vh;



}



.Action{

display: flex;
justify-content:center;
background-color:white;
color:black;
width:100vw;
gap:15px;
height:22.5vh;

}


.footer{

display:flex;
background-color: #1f2937;
color:white;
width: 100vw;
height:8.5vh;
justify-content: center;

}


button{
color: #f9faf8;;
background-color: #3882f6;
width:5vw;
padding:1vh 1vw;
border:none;
border-radius:8%;

}