.main-body{

display: flex;
flex-direction: column;

}


body{

display: flex;
flex-direction: column;
margin:0px;

}

/* Header Styling*/
.header{

display: flex;
gap: 15px;
height: 12.5vh;
background-color: #1f2937;
color: white;
width: 100vw;
justify-content:space-around;

}


.logo{

display: flex;
font-size: 24px;
font-weight: bold;
padding-right: 5vw;

}


.link-group{

display:flex;
gap:15px;
  
    
}


/* Sub-Header Styling*/


.sub-header{

display:flex;
background-color: #1f2937;
color: white;
width: 100vw;
justify-content:space-around;
gap: 15px;
height:30vh;


}


.Sub-Text{
display: flex;    
flex-direction: column;
margin-left:18vw;


}


.Sub-Text-Header{

color: #f9faf8;
font-size: 48px;
font-weight:bolder;
padding-right: 10vw;
margin-bottom: 1vh;

}


.Sub-Text-Body{

padding-right: 1vw;
padding-bottom: 2vh;


}    


.image{

display: flex;
height: 25vh;
width: 18vw;
margin-right:18vw;
border-radius:25%

}


/* Information Section Styling*/

.random-info{

display: flex;
flex-direction: column;
padding:25px 0px ; 


}

.random-info-header{

 display: flex;
 margin-top:3vh;
 margin-bottom:3vh;
 justify-content: center;
 color: #1f2937;
font-size: 36px;
font-weight: bolder;

}

.img-text-main-Group{

display:flex;
gap:35px;
background-color:white;
color:black;
width: 100vw;
justify-content: center;
height:22.5vh;

}


.img-text-pair{
display: flex;   
flex-direction: column; 
max-width:10vw;
text-align: center;

}

.text{

display: flex; 
align-content: center; 

}


.img{

border-style: solid;
border-width:0.25vw ;
border-color: #3882f6; 
border-radius: 5%;
height:15vh;
width:10vw;

}


/* Quote Styling*/

.Quote{

display: flex;
background-color:#e5e7eb;
color:black;
width: 100vw;
align-items: center;
justify-content: center;
height:27vh;

}


.Quote-box{

display: flex;
flex-direction: column;
min-width:0;
height:10vh;
width:45vw;


}



.actual-quote{

color:#1f2937 ;
font-size: 36px;
font-style:italic;
font-weight: lighter;

}


.credit{

font-weight: bold;
text-align: right;

}

/* Call to Action Styling*/

.Action{

display: flex;
justify-content:center;
align-items: center;
background-color:white;
color:black;
width:100vw;
gap:15px;
height:22.5vh;


}


.action-box{

display: flex;
background-color: #3882f6;
width: 45vw;
height:5vh;
padding: 3vh 3vw;
color: white;
gap: 5px;
border-radius:1em;
justify-content: space-around;

    
}


.action-body{

display: flex;
justify-content: space-around ;    

}


.action-header{

font-weight:bolder;
font-size:22px;

}

.sign-up-act{


border-style: solid;
border-width: 2px;   
border-color: whitesmoke;


}

/* Footer Styling*/

.footer{

display:flex;
background-color: #1f2937;
color:white;
width: 100vw;
height:8.5vh;
justify-content: center;
align-items: center;

}

/* Sign up Button Styling*/
button{

display: flex;  
justify-content: center;
align-items:center;
color: #f9faf8;
background-color: #3882f6;
width:5vw;
height:4vh;
border:none;
border-radius:8%;
margin: none;

}


